/*========= Menu Flutuante ==========*/
.menu-atualizar {
  position: fixed;
  top: 94px;
}
.col-md-pull-3 {
  right: 25%;
}
.col-md-push-9 {
  left: 75%;
}
.menu-atualizar button, .menu-atualizar a {
  margin-top: 1.5rem;
}
@media (min-width: 1281px) {
  .menu-atualizar {
      max-width: 250px;
  }  
    
  }
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
  .menu-atualizar {
      max-width: 230px;
  }
  
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
   
  .menu-atualizar {
      max-width: 170px;
  } 
    
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .menu-atualizar {
      max-width: 170px;
  }   
    
  }
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
  }
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    .col-md-pull-3 {
      right: 0%;
    }
    .col-md-push-9 {
      left: 0%;
    }
    .menu-atualizar button, .menu-atualizar a {
      margin-top: 0;
  }
    .menu-atualizar {
      position: fixed;
      top: 59px;
      left: 0;
      right: 0;
      z-index: 10;
      -webkit-box-shadow: 0px 1px 5px 0px rgba(153,153,153,1);
      -moz-box-shadow: 0px 1px 5px 0px rgba(153,153,153,1);
      box-shadow: 0px 1px 5px 0px rgba(153,153,153,1);
    }
    .menu-atualizar .media {
      display: none;
    }
    
    .menu-atualizar h4 {
        display: inline-block;
        margin: 15px 0!important;
    }
    
    .menu-atualizar .btn {
        float: right;
    }
    
    .menu-atualizar .card-body {
        padding: 8px 25px;
    }
    
  }

/*================ META TAG ===============*/
.meta-tag h4 {
  color: #1e0fbe;
  font-size: 18px;
  font-weight: 400;
  display: block;
  width: 100%;
}
.meta-tag p {
  color: #006621;
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 0;
}
.meta-tag textarea {
  margin-top: 5px;
  width: 100%;
  cursor: default;
  border: none;
  height: 100px;
}
.meta-tag textarea:disabled {
  background: white;
}
.caracter {
  float: right;
  padding: 1px 0;
  color: #d2d1d1;
  font-size: 14px;
}
/*================ Upload Imagem ===============*/
.profile {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #f3f3f3;
}
.profile:hover .edit {
  opacity: 0.5;
}
.profile .edit {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 3em;
  text-align: center;
  line-height: 100px;
  left: 0;
  opacity: 0;
}
.profile .edit:hover {
  opacity: 1;
}
.profile .edit {
  top: 0;
  background-color: rgba(77, 131, 255, 0.8);
}
.profile .edit input {
  opacity: 0;
  height: 0;
  width: 0;
}
#editarImagem, #removerImagem {
  margin-top: 10px;
}

/**/

.ajuda{
  color: #71c016;
  padding: 4px 2px 1px;
  border-radius: 13px;
  border: 1px solid #686868;
  font-family: monospace;
  white-space: nowrap;
  cursor:help;
  position:relative
  }
  
  .ajuda:after{font-family:Arial,sans-serif;text-align:left;white-space:normal}
  .ajuda:focus{outline:0}
  .ajuda::after,.ajuda::before{left:50%;opacity:0;position:absolute;z-index:-100}
  .ajuda:focus::after,.ajuda:focus::before,.ajuda:hover::after,.ajuda:hover::before{opacity:1;transform:scale(1) translateY(0);z-index:99999;}
  .ajuda::before{border-style:solid;border-width: 1em 0.75em 3px 0.75em;border-color:#3e474f transparent transparent transparent;bottom:100%;content:"";margin-left: -0.7em;transition:all .65s cubic-bezier(.84,-.18,.31,1.26),opacity .65s .5s;transform:scale(.6) translateY(-90%);}
  .ajuda:focus::before,.ajuda:hover::before{transition:all .65s cubic-bezier(.84,-.18,.31,1.26) .2s}
  .ajuda::after{background:#3e474f;border-radius:.25em;bottom:178%;color:#edeff0;content:attr(data-tip);line-height: 1.2;margin-left:-8.75em;padding:1em;transition:all .65s cubic-bezier(.84,-.18,.31,1.26) .2s;transform:scale(.6) translateY(50%);width:17.5em;}
  .ajuda:focus::after,.ajuda:hover::after{transition:all .65s cubic-bezier(.84,-.18,.31,1.26)}
  @media (max-width:760px){.ajuda::after{font-size:.75em;margin-left:-5em;width:10em}}

  /*classificação por estrela*/

  .stars {
    background: url('../images/avaliacao.png') repeat-x 0 0;
    width: 150px;
  }
  .ie7  .stars {
    *zoom: 1;
  }
   .stars:before,
   .stars:after {
    display: table;
    content: "";
  }
   .stars:after {
    clear: both;
  }
   .stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
  }
   .stars input[type="radio"].star-5:checked ~ span {
    width: 100%;
  }
   .stars input[type="radio"].star-4:checked ~ span {
    width: 80%;
  }
   .stars input[type="radio"].star-3:checked ~ span {
    width: 60%;
  }
   .stars input[type="radio"].star-2:checked ~ span {
    width: 40%;
  }
   .stars input[type="radio"].star-1:checked ~ span {
    width: 20%;
  }
   .stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
    cursor: pointer;
  }
   .stars label:hover ~ span {
    background-position: 0 -30px;
  }
   .stars label.star-5:hover ~ span {
    width: 100% !important;
  }
   .stars label.star-4:hover ~ span {
    width: 80% !important;
  }
   .stars label.star-3:hover ~ span {
    width: 60% !important;
  }
   .stars label.star-2:hover ~ span {
    width: 40% !important;
  }
   .stars label.star-1:hover ~ span {
    width: 20% !important;
  }
   .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url('../images/avaliacao.png') repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
  }

 /*========= MENU SIDEBAR ==========*/
  button.nav-link {
    width: 100%;
    background: none;
    border: none;
  }
  /*========= Carregamento ==========*/
  .carregar {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
    margin:0;
    }
    .carregar * {
      display: none;
  }
  .carregar:before {
      content:"";
      align-items: center;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      border: 0.25rem solid rgb(189, 193, 200);
      border-top-color: #4d83ff;
      -webkit-animation: spin 1s infinite linear;
      animation: spin 1s infinite linear;
  }
  .carregar-pagina {
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999999;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
}
  .spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
  }
  
  @-webkit-keyframes rotator {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  
  @keyframes rotator {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }
  
  @-webkit-keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  
  @keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  #main {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    position: relative;
  }


  /*======= Aviso atualização e salvo ======*/

.ativo-msg-modal .card-body {
  height: 0;
  overflow: hidden;
  transition: All 1s;
  padding: 0 25px!important;
 }
 .ativo-msg-modal .card-body {
     height: 52px;
 }
 .ativo-msg-modal .card {
     margin-bottom: 20px;
     transition: 1s;
 }
 .d-none#atualizado-sucesso {
  display:block!important;
 }
 .d-none#atualizado-sucesso .card {
     margin-bottom: 0px;
 }
 .d-none#atualizado-sucesso .card-body {
  height: 0;
  overflow: hidden;
  transition: All 1s;
  padding: 0 25px!important
 }
 .d-none {
  display:block!important;
 }
 .d-none .card {
     margin-bottom: 0px;
 }
 .d-none .card-body {
  height: 0;
  overflow: hidden;
  transition: All 1s;
  padding: 0 25px!important
 }
 
 @media (max-width:480px) {
 
 #atualizado-sucesso,#erro-atualizar,#alerta {
     position: fixed;
     top: 123px;
     z-index: 9;
     right: 0;
     left: 0;
 }

  #atualizado-sucesso.modal-sem-menu,#erro-atualizar.modal-sem-menu,#alerta.modal-sem-menu {
      position: fixed;
      top: 60px;
      z-index: 9;
      right: 0;
      left: 0;
  }
 
 }
     
#atualizado-sucesso .card {
  background: linear-gradient(230deg, #a6cc6b, #91c048);
}
#erro-atualizar .card {
  background: linear-gradient(230deg, #ef8c8c, #ff4747);
}
#alerta .card {
  background: linear-gradient(230deg, #fdd34e, #ffc100);
}
/*==========  NOTIFICAÇÂO ===========*/
#notificacao-ajax {
  overflow-y: scroll;
  height: 350px;
  display: block;
}
/*======= MODAL =======*/
.modal-estilo .modal-header {
  background: #b9b9b9;
  display: flex;
  align-items: baseline;
  padding: 0 0 0 1rem;
  border: none;
}
.modal-estilo .btn-inverse-danger {
  background-color: rgb(156, 156, 156);
}
.modal-estilo .btn-inverse-danger:not(.btn-inverse-light) {
  color: #fdfdfd;
}
.modal-estilo .modal-title {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.modal-estilo h5 {font-weight: 100;}

.modal-estilo .modal-footer {
  display: flex;
  justify-content: center;
  border-top:none;
}

/*======= BOTAO TOGGLE =======*/
.jumbotron {
  background: #6b7381;
  color: #bdc1c8;
}
.jumbotron h1 {
  color: #fff;
}
.example {
  margin: 4rem auto;
}
.example > .row {
  margin-top: 2rem;
  height: 5rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(189, 193, 200, 0.5);
}
.example > .row:first-of-type {
  border: none;
  height: auto;
  text-align: left;
}
.example h3 {
  font-weight: 400;
}
.example h3 > small {
  font-weight: 200;
  font-size: 0.75em;
  color: #939aa5;
}
.example h6 {
  font-weight: 700;
  font-size: 0.65rem;
  letter-spacing: 3.32px;
  text-transform: uppercase;
  color: #bdc1c8;
  margin: 0;
  line-height: 5rem;
}
.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Não';
  left: -4rem;
}
.btn-toggle:after {
  content: 'Sim';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #accf75;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-lg:before {
  content: 'Não';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'Sim';
  right: -5rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
  content: 'Não';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'Sim';
  right: -0.5rem;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-xs:before {
  content: 'Não';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'Sim';
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}

/*TABELA RESPONSIVA*/
.tabela img {
  border: 1px solid #ebebeb;
    border-radius: 100%;
	width: 30px;
  }
  .tabela {
    border-bottom: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .tabela th,
  .tabela td {
    border-right: #ababab solid 0px;
    font-size: 12px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle!important;
  }

  .tabela td:last-child {
     border-right: 0;
  }

  .tabela thead th {
    font-weight: normal;
    background-color: #d0b45e;
    color: #fff;
    font-size: 15px;
  }

  .tabela tbody > tr:nth-child(odd) > td,
  .tabela tbody > tr:nth-child(odd) > th {
    background-color: #f8f8f8;
  }
    .tabela tbody > tr:nth-child(even) > td,
  .tabela tbody > tr:nth-child(even) > th {
    background-color: #ffffff;
  }
  .table-responsive td,
  .table-responsive th {
    padding: 0.6rem 0.9375rem;
  }

/* Small Sizes */
@media (max-width: 767px) { 
  
  /* Responsive Table */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 60px;
    padding: 0.8rem 0.9375rem;
    display: flex;
    align-items: center;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }

  
  .tabela td:last-child {
     border-right: #999999 solid 1px;
  }


}
/* CALENDARIO */
.date-picker {
  width: 100%;
  height: auto;
  max-height: 46px;
  background: white;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
  border-radius: 6px;
}
.date-picker .input {
  width: 100%;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  border: 1px solid #f3f3f3;
}
.date-picker .input .result, .date-picker .input button {
  display: inline-block;
  vertical-align: top;
}
.date-picker .input .result {
  width: calc(100% - 50px);
  height: 46px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 10px;
  color: grey;
  box-sizing: border-box;
}
.date-picker .input button {
  width: 50px;
  height: 46px;
  background-color: #4d83ff;
  color: white;
  line-height: 46px;
  border: 0;
  font-size: 18px;
  padding: 0;
}
.date-picker .input button:hover {
  background-color: #68768A;
}
.date-picker .input button:focus {
  outline: 0;
}
.date-picker .calendar {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
}
.date-picker .ui-datepicker-inline {
  position: relative;
  width: 100%;
  border: 1px solid #f3f3f3;
}
.date-picker .ui-datepicker-header {
  height: 100%;
  line-height: 50px;
  background: #4d83ff;
  color: #fff;
  margin-bottom: 10px;
}
.date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border: 2px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.date-picker .ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.date-picker .ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.date-picker .ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.date-picker .ui-datepicker-next:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
  border-color: #68768A;
}
.date-picker .ui-datepicker-title {
  text-align: center;
}
.date-picker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.date-picker .ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  color: #8392A7;
  margin-bottom: 5px;
  font-size: 13px;
}
.date-picker .ui-state-default {
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  line-height: 40px;
  font-size: 12px;
}
.date-picker .ui-state-default:hover {
  background: rgba(0, 0, 0, 0.02);
}
.date-picker .ui-state-highlight {
  color: #68768A;
}
.date-picker .ui-state-active {
  color: #68768A;
  background-color: rgba(131, 146, 167, 0.12);
  font-weight: 600;
}
.date-picker .ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}
.date-picker.open {
  max-height: 400px;
}
.date-picker.open .input button {
  background: #bdc1c8;
}

/* ALINHAR ICONE */
.centro-icone {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
button.btn.btn-sm.btn-instagram {
  background: #ff0099;
  color: white;
}



/* SENHA*/
.olhar-senha {
  padding: 0 5px 0 0!important;
  border-left: 0px solid white!important;
  border-radius: 2px;
  position: relative;
  background: white;
}
/*PRELOAD*/
.preload {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-image: url(../images/preload.gif);
  background-size: 60px;
  background-position: center center;
  background-repeat: no-repeat;
}
/* CHEKED SERVIÇOS */
@-webkit-keyframes bumpUp {
  20% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bumpUp {
  20% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
.menu-servico {
  list-style: none;
  padding: 0;
  width: 100%;
  color: #242C35;
}
.menu-servico > li {
  display: block;
}
.menu-servico > li > input {
  display: none;
}
.menu-servico > li > input:checked ~ label {
  -webkit-animation: none;
  animation: none;
  -webkit-transition: .1s;
  transition: .1s;
}
.menu-servico > li > input:checked ~ label > .toggleIcon::before {
  opacity: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  text-shadow: 0 0 3px #333;
}
.menu-servico > li > input:checked ~ label > .toggleIcon::after {
  -webkit-transform: none;
          transform: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu-servico > li > input:checked ~ .options > ul {
  margin-bottom: 2em;
}
.menu-servico > li > input:checked ~ .options > ul > li {
  margin: 0;
  opacity: 1;
}
.menu-servico > li > label {
  display: block;
  padding: 1em 1em 1em 3em;
  background: #FFF;
  position: relative;
  z-index: 1;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 0 #FFF;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #f3f3f3;
}
.menu-servico > li > label:hover {
  background: rgba(255, 255, 255, 0.8);
}
.menu-servico > li > label > .toggleIcon {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  left: 1.2em;
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-servico > li > label > .toggleIcon::before, .menu-servico > li > label > .toggleIcon::after {
  content: '';
  position: absolute;
  background: #AAA;
  -webkit-transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 1.4);
  transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 1.4);
}
.menu-servico > li > label > .toggleIcon::before {
  width: 2px;
  height: 100%;
  left: calc(50% - 2px);
  margin-left: 1px;
}
.menu-servico > li > label > .toggleIcon::after {
  width: 100%;
  height: 2px;
  top: calc(50% - 1px);
}
.menu-servico > li > .options {
  position: relative;
  overflow: hidden;
}

.options label {
  padding: 3px 3px 3px 24px;
  position: relative;
  line-height: 1!important;
  margin-left: 0.4rem!important;
}
.menu-servico > li > .options > ul {
  font-size: .9em;
  list-style: none;
  margin: -1em .6em 1em;
  padding: 0;
  border-radius: 0 0 4px 4px;
  border: 5px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 2);
  transition: 0.3s cubic-bezier(0.45, 0.01, 0.27, 2);
  -webkit-perspective: 600px;
          perspective: 600px;
}
.menu-servico > li > .options > ul > li {
  padding: .5em 1em;
  margin-top: -5em;
  border-bottom: 1px solid #ffffff;
  position: relative;
  cursor: pointer;
  background: #f9f9f9;
  color: #2A4027;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: margin, opacity;
  transition-property: margin, opacity;
}
.menu-servico > li > .options > ul > li:first-child {
  padding-top: 1em;
}
.menu-servico > li > .options > ul > li:last-child {
  border: 0;
  border-radius: 0 0 3px 3px;
}
.menu-servico > li > .options > ul > li:hover {
  background: #efefef;
  box-shadow: 5px 0 rgba(255, 255, 224, 0.1), -5px 0 rgba(255, 255, 224, 0.1);
}

.checkboxes {
  padding-top: 20px;
}
.checkboxes-wrap {
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid #f3f3f3;
}
.checkboxes, .checkboxes-options {
  padding-left: 10px;
  padding-right: 10px;
}
.checkboxes-options {
  border-bottom: 1px solid #f3f3f3;
  padding-top: 5px;
  padding-bottom: 5px;
}

.checkboxes label {
  padding: 3px 3px 3px 24px;
  position: relative;
  line-height: 1!important;
}
.checkboxes label:hover {
  background: #f7f7f7;
}
.checkboxes label input[type="checkbox"] {
  position: absolute;
  top: 7px;
  left: 7px;
}

/* Lista de busca de cliente */
#lista-nome {
  border-block-end: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #f3f3f3;
}

/*CONTAINER*/
.container-sem-menu {
  padding-top: 17px;
}

/*Reserva Cliente */
.profissional-grupo {
  margin: 0px -10px;
}

.profissional-grupo img {
  width: 100%;
}

/*Formato input hora*/
.input-hora::-webkit-datetime-edit-ampm-field {
  display: none;
}
input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance:none;
  appearance: none;
  margin: -10px; 
}