﻿/* -----------------------------------------------------------------------------

    Este arquivo deve ser usado para adicionar suas próprias definições de CSS ou substituir
os existentes.
----------------------------------------------------------------------------- */

	/* seu CSS aqui */

	[type="date"] {
	  background:#fff url("../../images/calendar_2.png")  97% 50% no-repeat ;
	}

	[type="date"] {
	  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  85% 50% no-repeat ;
	}
	[type="date"]::-webkit-calendar-picker-indicator {
	  opacity: 0;
	}

	input[type="date"],
	input[type="date"]{
		width: 110%;
	}

	#main-slider .various-content h1, #main-slider .various-content h2 {
		line-height: 0.1em;
	}
	#main-slider .various-content p {
		font-size: 1.5em;
		width: 65%;
		color: #ffffff;
	}
	

	.thumb div p{
		text-align: center;
		text-transform: capitalize;
	}

	.various-content ul>li:before {
		display: none !important;
	}


	/* CORES */
	#header {
		color: #fff;
		background: #3E7943 url(../../images/header_bg.jpg) 0 0 no-repeat;
		background-size: cover;
	}

	.cssgradients .header-bg {
		background-color: rgba(62, 121, 67,0.5);
	}

	#main-slider .slide h1, #main-slider .slide h2 {
		color: #55338E;
		-webkit-text-stroke: 0.01em rgba(230, 226, 33,0.5);
	}

	.header-bg {
		background-color: #3E7943;
		background-color: rgba(62, 121, 67,0.9);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 121, 67,0.6)), to(#3E7943));
		background-image: -webkit-linear-gradient(top, rgba(62, 121, 67,0.6), #3E7943);
		background-image: -moz-linear-gradient(top, rgba(62, 121, 67,0.6), #3E7943);
		background-image: -o-linear-gradient(top, rgba(62, 121, 67,0.6), #3E7943);
		background-image: linear-gradient(to bottom, rgba(62, 121, 67,0.6),#3E7943);
	}

	.header-reservation .c-button {
		color: #1a1a1a;
		background-color: #E6E221;
		background-image: none;
	}
	.c-button.m-type-2:hover{
		border-color:rgba(62, 121, 67,0.4);
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		box-shadow:none
	}

	.c-service .service-image a:before {
		background-color: #E6E221;
		background-color: rgba(230, 226, 33,0.5);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 226, 33,0.6)), to(transparent));
		background-image: -webkit-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: -moz-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: -o-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: linear-gradient(to bottom, rgba(230, 226, 33,0.6),transparent);
	}

	.c-gallery .thumb a:before {
		background-color: #E6E221;
		background-color: rgba(230, 226, 33,0.5);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 226, 33,0.6)), to(transparent));
		background-image: -webkit-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: -moz-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: -o-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: linear-gradient(to bottom, rgba(230, 226, 33,0.6),transparent);
	}

	.c-article .article-image a:before {
		background-color: #E6E221;
		background-color: rgba(230, 226, 33,0.5);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 226, 33,0.6)), to(transparent));
		background-image: -webkit-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: -moz-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: -o-linear-gradient(top, rgba(230, 226, 33,0.6), transparent);
		background-image: linear-gradient(to bottom, rgba(230, 226, 33,0.6),transparent);
	}
	.c-testimonial .testimonial-portrait {
		background-color: #E6E221;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 226, 33,0.7)), to(transparent));
		background-image: -webkit-linear-gradient(top, rgba(230, 226, 33,0.7), transparent);
		background-image: -moz-linear-gradient(top, rgba(230, 226, 33,0.7), transparent);
		background-image: -o-linear-gradient(top, rgba(230, 226, 33,0.7), transparent);
		background-image: linear-gradient(to bottom, rgba(230, 226, 33,0.7),transparent);
	}
	.various-content h2 {
		color: #55338E;
	}
	a:hover, a:active, a:focus {
		color: #E6E221;
	}


	/* CORES SOBRE */
	.various-content .c-team-member .member-portrait, .c-team-member .member-portrait {
		background-color: #FCFCFC;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 226, 33,0.7)), to(transparent));
		background-image: -webkit-linear-gradient(top, rgba(230, 226, 33,0.7), transparent);
		background-image: -moz-linear-gradient(top, rgba(230, 226, 33,0.7), transparent);
		background-image: -o-linear-gradient(top, rgba(230, 226, 33,0.7), transparent);
		background-image: linear-gradient(to bottom, rgba(230, 226, 33,0.7),transparent);
	}
	#page-header h1 {
		color: #55338E;
		border-color: #E6E221;
	}


	.c-modal {		
		background-color: rgba(62, 121, 67,0.4);
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 121, 67,0.4)), to(transparent));
		background-image: -webkit-linear-gradient(top, rgba(62, 121, 67,0.4), transparent);
		background-image: -moz-linear-gradient(top, rgba(62, 121, 67,0.4), transparent);
		background-image: -o-linear-gradient(top, rgba(62, 121, 67,0.4), transparent);
		background-image: linear-gradient(to bottom, rgba(62, 121, 67,0.4),transparent);
	}

	#main-slider .various-content h1, #main-slider .various-content h2 {
		line-height: 1.1em;
	}

	#main-slider .various-content p {
		font-size: 1.5em;
		width: 65%;
		color: #2A4027;
	}

	.c-service .service-title {
		font-size: 1em;
	}
/* -----------------------------------------------------------------------------

    DEFINIÇÕES RESPONSIVAS

----------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------
        GRANDES DISPOSITIVOS
		dispositivos com largura entre 992 px e 1199 px
    ------------------------------------------------------------------------- */

    @media ( max-width: 1199px ) {

		/* seu CSS aqui */

	}

    /* -------------------------------------------------------------------------
        MEDIUM DEVICES
		dispositivos com largura entre 768px and 991px
    ------------------------------------------------------------------------- */

    @media ( max-width: 991px ) {

		/* seu CSS aqui */

	}

	/* -------------------------------------------------------------------------
        SMALL DEVICES
		dispositivos com largura entre 481px and 767px
    ------------------------------------------------------------------------- */

    @media ( max-width: 767px ) {

		/* seu CSS aqui */

	}

	/* -------------------------------------------------------------------------
        EXTRA SMALL DEVICES
		dispositivos com largura até 480px
    ------------------------------------------------------------------------- */

	@media ( max-width: 480px ) {

		/* seu CSS aqui */

	}