	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/02/2020 00:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;

}

.flaticon-scissors:before { content: "\f100"; }
.flaticon-cut:before { content: "\f101"; }
.flaticon-scissor:before { content: "\f102"; }
.flaticon-blade:before { content: "\f103"; }
.flaticon-razor:before { content: "\f104"; }
.flaticon-blade-1:before { content: "\f105"; }
.flaticon-razor-1:before { content: "\f106"; }
.flaticon-queue:before { content: "\f107"; }
.flaticon-settings:before { content: "\f108"; }
.flaticon-gallery:before { content: "\f109"; }
.flaticon-salon:before { content: "\f10a"; }
.flaticon-seat:before { content: "\f10b"; }
.flaticon-login:before { content: "\f10c"; }
.flaticon-user:before { content: "\f10d"; }
.flaticon-barber:before { content: "\f10e"; }
.flaticon-brush:before { content: "\f10f"; }
.flaticon-lotion:before { content: "\f110"; }
.flaticon-line:before { content: "\f111"; }
.flaticon-beard:before { content: "\f112"; }
.flaticon-man-hair:before { content: "\f113"; }