/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.pesquisa{
	color: #FFFFFF;
    margin-top: 10%;
    text-align: justify;
}