html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    color: #444;
}
body.style_1 {
    background: #ce61c9 url(../img/pattern_3.svg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 767px) {
    body.style_1 {
        background: #ce61c9;
    }
}
body.style_2 {
    background: #3e7943 url(../img/pattern_3.svg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 767px) {
    body.style_2 {
        background: #3e7943;
    }
}
body.style_3 {
    background: #454de5 url(../img/pattern_3.svg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 767px) {
    body.style_3 {
        background: #454de5;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
}
p {
    margin-bottom: 25px;
}
strong {
    font-weight: 500;
}
label {
    font-weight: 400;
    margin-bottom: 3px;
    color: #ccc;
}
hr {
    margin: 30px 0 30px 0;
    border-color: #ddd;
}
ul,
ol {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
}
a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}
a.animated_link {
    position: relative;
    text-decoration: none;
}
a.animated_link {
    position: relative;
    text-decoration: none;
}
a.animated_link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    opacity: 1;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a.animated_link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
a.animated_link.active {
    position: relative;
    text-decoration: none;
    color: #434bdf;
}
a.animated_link.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    opacity: 1;
    left: 0;
    background-color: #434bdf;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
a.btn_1,
.btn_1 {
    border: none;
    color: #fff;
    background: #434bdf;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 12px 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-size: 0.875rem;
}
a.btn_1:hover,
.btn_1:hover {
    background-color: #4ccd6a;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}
[data-loader="circle-side"] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite 0.95s linear;
    -moz-animation: circle infinite 0.95s linear;
    -o-animation: circle infinite 0.95s linear;
    animation: circle infinite 0.95s linear;
    border: 2px solid #333;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}
#loader_form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 999999;
    display: none;
}
[data-loader="circle-side-2"] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite 0.95s linear;
    -moz-animation: circle infinite 0.95s linear;
    -o-animation: circle infinite 0.95s linear;
    animation: circle infinite 0.95s linear;
    border: 2px solid #333;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}
@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
input#website {
    display: none;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    padding: 15px 10px;
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 2;
}
@media (max-width: 1199px) {
    header {
        padding: 10px 0;
    }
}
footer {
    color: #fff;
    width: 100%;
    padding: 0 10px;
    height: 35px;
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 500;
}
@media (max-width: 767px) {
    footer {
        height: auto;
        padding: 0 0 20px 0;
        position: static;
    }
}
footer ul {
    float: right;
    margin: 0;
    padding: 0;
}
@media (max-width: 991px) {
    footer ul {
        float: none;
        margin-top: 10px;
    }
}
footer ul li {
    float: left;
    margin-right: 15px;
}
footer ul li:after {
    content: "|";
    font-weight: 300;
    position: relative;
    left: 9px;
    color: #fff;
}
footer ul li:last-child {
    margin-right: 0;
}
footer ul li:last-child:after {
    content: "";
}
footer ul li a {
    color: #fff;
}
footer ul li a:hover {
    color: #fff;
}
.wrapper_centering {
    width: 100%;
    margin: -90px auto 0;
    height: 100%;
    text-align: left;
    clear: both;
    display: table;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: -moz-linear-gradient(165deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
    background: -webkit-linear-gradient(165deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
    background: linear-gradient(165deg, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}
.container_centering {
    vertical-align: middle;
    display: table-cell;
    padding: 90px 0;
}
@media (max-width: 991px) {
    .container_centering {
        padding: 110px 0 45px 0;
        display: block;
    }
}
#social ul {
    float: right;
    margin: 0;
    padding: 0;
}
#social ul li {
    float: left;
    margin: 10px 15px 0 0;
    list-style: none;
}
#social ul li a {
    color: #fff;
    opacity: 1;
    text-align: center;
    line-height: 35px;
    display: block;
    font-size: 17px;
    font-size: 1.0625rem;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#social ul li a:hover {
    opacity: 0.8;
}
#social ul li:last-child {
    margin-right: 0;
}
.main_title_1 {
    color: #fff;
}
@media (max-width: 767px) {
    .main_title_1 {
        text-align: center;
    }
}
.main_title_1 small {
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    letter-spacing: 3px;
}
@media (max-width: 991px) {
    .main_title_1 img {
        display: none;
    }
}
.main_title_1 h1,
.main_title_1 h3 {
    color: #fff;
    margin: 0 0 25px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 62px;
    font-size: 3.875rem;
}
@media (max-width: 767px) {
    .main_title_1 h1,
    .main_title_1 h3 {
        font-size: 42px;
        margin-bottom: 20px;
    }
}
.main_title_1 p {
    font-size: 18px;
    font-size: 1.125rem;
}
@media (max-width: 767px) {
    .main_title_1 p {
        font-size: 16px;
        margin-bottom: 15px;
    }
}
.main_title_1 p em {
    font-family: "Caveat", cursive;
    font-style: normal;
    font-size: 30px;
    font-size: 1.875rem;
}
#wizard_container {
    color: #fff;
    height: 500px;
}
@media (max-width: 767px) {
    #wizard_container {
        width: 100%;
        height: auto;
    }
}
h3.main_question {
    margin: 0 0 25px 0;
    padding: 0;
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem;
}
h3.main_question strong {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    opacity: 0.5;
}
button.backward,
button.forward,
button.submit {
    border: none;
    color: #111;
    text-decoration: none;
    transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-align: center;
    background: #e6e221;
    position: relative;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: 1;
    padding: 12px 30px;
}
button.backward {
    color: #3e7943;
    background: #e8e8e8;
}
button[disabled] {
    display: none;
}
.backward:hover,
.forward:hover {
    background: #fff;
}
#top-wizard {
    padding-bottom: 20px;
}
@media (max-width: 991px) {
    #middle-wizard {
        min-height: inherit;
    }
}
#bottom-wizard {
    text-align: right;
    margin-top: 30px;
}
.ui-widget-content {
    background-color: transparent;
}
.ui-widget-content a {
    color: #222222;
}
.ui-widget-header {
    background: #6c3;
}
.ui-widget-header a {
    color: #222222;
}
.ui-progressbar {
    height: 2px;
    width: 100%;
}
.ui-progressbar .ui-progressbar-value {
    height: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.summary ul {
    margin: 0;
    padding: 0;
}
.summary ul li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    padding-left: 45px;
    margin-bottom: 25px;
}
.summary ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.summary ul li strong {
    display: block;
    line-height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border: 2px solid #ddd;
}
.summary ul li h5 {
    padding-top: 6px;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #fff;
}
.summary ul li ul {
    margin: 20px 0 25px 0;
    padding: 0;
}
.summary ul li ul li {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}
.summary label {
    font-weight: 500;
}
#success {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 190px;
    margin-top: -85px;
    margin-left: -150px;
    text-align: center;
    color: #444;
}
#success h4 {
    font-weight: 400;
    margin: 20px 0 0 0;
    color: #222;
    font-size: 18px;
    font-size: 1.125rem;
}
#success h4 span {
    display: block;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 21px;
    font-size: 1.3125rem;
}
@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px;
    }
    100% {
        stroke-dashoffset: 480px;
    }
}
@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px;
    }
    100% {
        stroke-dashoffset: 480px;
    }
}
@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px;
    }
    100% {
        stroke-dashoffset: 480px;
    }
}
.inlinesvg .svg svg {
    display: inline;
}
.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards;
}
.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
}
.modal-content {
    border: none;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
.form-group {
    margin-bottom: 10px;
}
.form-group {
    position: relative;
}
.form-group.terms {
    padding: 12px 0 0 0;
}
.form-group.terms label {
    line-height: 1.5;
}
.form-group i {
    font-size: 18px;
    font-size: 1.125rem;
    position: absolute;
    right: 5px;
    top: 11px;
    color: #ccc;
    width: 25px;
    height: 25px;
    display: block;
    font-weight: 400 !important;
}
span.error {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: -20px;
    right: -15px;
    z-index: 2;
    height: 25px;
    line-height: 1;
    background-color: #ff0066;
    color: #fff;
    font-weight: normal;
    display: inline-block;
    padding: 6px 8px;
    font-weight: 500;
}
span.error:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #ff0066;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 20%;
}
.radio_input .error {
    left: -15px;
    top: -30px;
    right: inherit;
}
.terms span.error {
    top: -30px;
    left: -15px;
    right: inherit;
}
.form-control {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-size: 0.875rem;
    height: calc(2.85rem + 2px);
    color: #fff;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.4);
}
.form-control:focus {
    box-shadow: none;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}
.review_message {
    height: 250px !important;
}
@media (max-width: 767px) {
    .review_message {
        height: 200px !important;
    }
}
.checkbox_radio_container {
    margin-bottom: 10px;
    position: relative;
}
.checkbox_radio_container input[type="checkbox"] {
    display: none;
}
.checkbox_radio_container input[type="radio"] {
    display: none;
}
.checkbox_radio_container label {
    cursor: pointer;
}
.checkbox_radio_container .radio,
.checkbox_radio_container .checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    left: 8px;
    top: 7px;
}
.checkbox_radio_container .radio:after,
.checkbox_radio_container .checkbox:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background: #4ccd6a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transform: translate(4px, 11px) rotate(-45deg);
    transform-origin: left;
    transition: all 150ms;
    transition-delay: 0ms;
}
.checkbox_radio_container .radio:before,
.checkbox_radio_container .checkbox:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background: #4ccd6a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transform: translate(1px, 6px) rotate(45deg);
    transform-origin: left;
    transition: all 150ms;
    transition-delay: 150ms;
}
.checkbox_radio_container .checkbox {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.checkbox_radio_container .wrapper {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 44px;
    font-weight: 500;
    cursor: pointer;
}
.checkbox_radio_container input[type="checkbox"]:checked ~ .checkbox:before,
.checkbox_radio_container input[type="checkbox"]:checked ~ .radio:before,
.checkbox_radio_container input[type="radio"]:checked ~ .checkbox:before,
.checkbox_radio_container input[type="radio"]:checked ~ .radio:before {
    width: 7px;
    transition-delay: 0ms;
}
.checkbox_radio_container input[type="checkbox"]:checked ~ .checkbox:after,
.checkbox_radio_container input[type="checkbox"]:checked ~ .radio:after,
.checkbox_radio_container input[type="radio"]:checked ~ .checkbox:after,
.checkbox_radio_container input[type="radio"]:checked ~ .radio:after {
    width: 13px;
    transition-delay: 150ms;
}
.checkbox_radio_container input[type="checkbox"]:checked ~ .wrapper,
.checkbox_radio_container input[type="radio"]:checked ~ .wrapper {
    transition: all 450ms;
    background-color: #4ccd6a;
    color: #fff;
}
.container_check {
    display: block;
    position: relative;
    font-size: 14px;
    font-size: 0.875rem;
    padding-left: 30px;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.container_check input:checked ~ .checkmark {
    background-color: #fff;
}
.container_check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: none;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.container_check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #111;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container_check input:checked ~ .checkmark:after {
    display: block;
}
.container_radio {
    display: block;
    position: relative;
    font-size: 14px;
    font-size: 0.875rem;
    padding-left: 30px;
    line-height: 1.3;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}
.container_radio input {
    position: absolute;
    opacity: 0;
}
.container_radio input:checked ~ .checkmark:after {
    opacity: 1;
}
.container_radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
}
.container_radio .checkmark:after {
    display: block;
    content: "";
    position: absolute;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.radio_input .container_radio {
    display: inline-block;
    margin: 15px 0 0 12px;
}
.review_block p {
    margin-bottom: 20px;
    font-weight: 500;
}
.review_block ul {
    padding: 0;
    margin: 0 0 20px 0;
}
.review_block ul li {
    display: block;
    margin: 0 0 5px 0;
}
.review_block ul li.last-child {
    margin-right: 0;
}
.review_block_smiles ul,
.review_block_numbers ul {
    padding: 0;
    margin: 0 -3px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.review_block_smiles ul li,
.review_block_numbers ul li {
    display: list-item;
    margin: 0 3px;
    width: 100%;
}
.container_smile {
    margin-bottom: 5px;
    position: relative;
}
.container_smile input[type="radio"] {
    display: none;
}
.container_smile label {
    cursor: pointer;
}
.container_smile .radio {
    position: relative;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
    display: block;
    text-align: center;
}
@media (max-width: 575px) {
    .container_smile .radio {
        padding: 10px;
    }
}
.container_smile .radio:after {
    font-family: "smiles";
    font-size: 42px;
    font-size: 2.625rem;
}
@media (max-width: 1199px) {
    .container_smile .radio:after {
        font-size: 36px;
        font-size: 2.25rem;
    }
}
@media (max-width: 575px) {
    .container_smile .radio:after {
        font-size: 30px;
        font-size: 1.875rem;
    }
}
.container_smile .radio span {
    display: none;
}
.container_smile .radio.smile_1:after {
    content: "\0041";
}
.container_smile .radio.smile_2:after {
    content: "\0042";
}
.container_smile .radio.smile_3:after {
    content: "\0043";
}
.container_smile .radio.smile_4:after {
    content: "\0044";
}
.container_smile .radio.smile_5:after {
    content: "\0045";
}
.container_smile .radio {
    transition: all 450ms;
}
.container_smile .radio.smile_1:hover {
    background-color: #ff0033;
    color: #fff;
}
.container_smile .radio.smile_2:hover {
    background-color: #ff5f7f;
    color: #fff;
}
.container_smile .radio.smile_3:hover {
    background-color: #94b49b;
    color: #fff;
}
.container_smile .radio.smile_4:hover {
    background-color: #68cd7f;
    color: #fff;
}
.container_smile .radio.smile_5:hover {
    background-color: #4ccd6a;
    color: #fff;
}
.container_smile input[type="radio"]:checked ~ .radio {
    transition: all 450ms;
    color: #fff;
}
.container_smile input[type="radio"]:checked ~ .radio:after {
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
    display: block;
    transform: rotateY(360deg);
}
.container_smile input[type="radio"]:checked ~ .radio.smile_1 {
    background-color: #ff0033;
}
.container_smile input[type="radio"]:checked ~ .radio.smile_2 {
    background-color: #ff5f7f;
}
.container_smile input[type="radio"]:checked ~ .radio.smile_3 {
    background-color: #94b49b;
}
.container_smile input[type="radio"]:checked ~ .radio.smile_4 {
    background-color: #68cd7f;
}
.container_smile input[type="radio"]:checked ~ .radio.smile_5 {
    background-color: #4ccd6a;
}
.container_numbers {
    margin-bottom: 5px;
    position: relative;
}
.container_numbers input[type="radio"] {
    display: none;
}
.container_numbers label {
    cursor: pointer;
}
.container_numbers .radio {
    position: relative;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
}
@media (max-width: 575px) {
    .container_numbers .radio {
        padding: 10px;
    }
}
.container_numbers input[type="radio"]:checked ~ .radio {
    transition: all 450ms;
    color: #fff;
}
.container_numbers input[type="radio"]:checked ~ .radio.very_bad {
    background-color: #ff0033;
}
.container_numbers input[type="radio"]:checked ~ .radio.bad {
    background-color: #ff5f7f;
}
.container_numbers input[type="radio"]:checked ~ .radio.average {
    background-color: #94b49b;
}
.container_numbers input[type="radio"]:checked ~ .radio.good {
    background-color: #68cd7f;
}
.container_numbers input[type="radio"]:checked ~ .radio.very_good {
    background-color: #4ccd6a;
}
.add_bottom_10 {
    margin-bottom: 10px;
}
.add_bottom_15 {
    margin-bottom: 15px;
}
.add_bottom_25 {
    margin-bottom: 25px;
}
.add_bottom_30 {
    margin-bottom: 30px;
}
.add_bottom_45 {
    margin-bottom: 45px;
}
.add_bottom_60 {
    margin-bottom: 60px;
}
.add_bottom_75 {
    margin-bottom: 75px;
}
.add_top_10 {
    margin-top: 10px;
}
.add_top_15 {
    margin-top: 15px;
}
.add_top_20 {
    margin-top: 20px;
}
.add_top_30 {
    margin-top: 30px;
}
.add_top_60 {
    margin-top: 60px;
}
.more_padding_left {
    padding-left: 40px;
}
.nomargin_top {
    margin-top: 0;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}
.nomargin {
    margin: 0 !important;
}
.margin_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.margin_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.margin_60_35 {
    padding-top: 60px;
    padding-bottom: 35px;
} /*!
 * Float Labels
 * @version: 3.3.9
 * @author: Paul Ryley (http://geminilabs.io)
 * @url: https://pryley.github.io/float-labels.js
 * @license: MIT
 */
.fl-form .fl-wrap {
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fl-form input.fl-input,
.fl-form select.fl-select,
.fl-form textarea.fl-textarea {
    width: 100%;
    outline: 0;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid none;
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0;
}
.fl-form input.fl-input:-moz-placeholder,
.fl-form select.fl-select:-moz-placeholder,
.fl-form textarea.fl-textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}
.fl-form input.fl-input::-moz-placeholder,
.fl-form select.fl-select::-moz-placeholder,
.fl-form textarea.fl-textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}
.fl-form input.fl-input:-ms-input-placeholder,
.fl-form select.fl-select:-ms-input-placeholder,
.fl-form textarea.fl-textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    color: #fff !important;
}
.fl-form input.fl-input::-webkit-input-placeholder,
.fl-form select.fl-select::-webkit-input-placeholder,
.fl-form textarea.fl-textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}
.fl-form select.fl-select {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.fl-form select.fl-select::-ms-expand {
    display: none;
}
.fl-form .fl-is-active input.fl-input,
.fl-form .fl-is-active select.fl-select,
.fl-form .fl-is-active textarea.fl-textarea {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: none;
}
.fl-form .fl-has-focus input.fl-input,
.fl-form .fl-has-focus select.fl-select,
.fl-form .fl-has-focus textarea.fl-textarea {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: none;
}
.fl-form label.fl-label {
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top: -11px;
    left: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 3px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
body[dir="rtl"] .fl-form label.fl-label {
    left: unset;
    right: 0;
}
.fl-form .fl-is-active label.fl-label {
    opacity: 1;
    visibility: visible;
}
.fl-form .fl-has-focus label.fl-label {
    color: #999;
}
.fl-form .fl-is-required:before {
    opacity: 1;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: 18px;
    font-size: 14px;
    line-height: 1.75;
    color: #fff;
    transition: all 0.5s ease-in-out;
    padding: 8px 0 0;
    z-index: 1;
}
body[dir="rtl"] .fl-form .fl-is-required:before {
    right: unset;
    left: 18px;
}
.fl-form .fl-is-required.fl-is-active:before {
    opacity: 0;
}
.fl-form.fl-style-1 input.fl-input,
.fl-form.fl-style-1 select.fl-select,
.fl-form.fl-style-1 textarea.fl-textarea {
    padding: 8px 16px;
}
.fl-form.fl-style-1 select.fl-select {
    height: 46px;
}
.fl-form.fl-style-1 .fl-is-active input.fl-input,
.fl-form.fl-style-1 .fl-is-active select.fl-select,
.fl-form.fl-style-1 .fl-is-active textarea.fl-textarea {
    padding: 8px 16px;
}
.fl-form.fl-style-1 label.fl-label {
    top: 1px;
    left: 13px;
    background-color: transparent;
    padding: 16px 4px;
}
.fl-form.fl-style-1 label.fl-label:before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.fl-form.fl-style-1 .fl-is-active label.fl-label {
    top: -10px;
    padding: 4px;
}
.fl-form.fl-style-1 .fl-is-active label.fl-label:before {
    top: 10px;
}
body[dir="rtl"] .fl-form.fl-style-1 label.fl-label {
    left: unset;
    right: 13px;
}
.fl-form.fl-style-2 input.fl-input,
.fl-form.fl-style-2 select.fl-select,
.fl-form.fl-style-2 textarea.fl-textarea {
    padding: 16px;
}
.fl-form.fl-style-2 select.fl-select {
    height: 62px;
}
.fl-form.fl-style-2 .fl-is-active input.fl-input,
.fl-form.fl-style-2 .fl-is-active select.fl-select,
.fl-form.fl-style-2 .fl-is-active textarea.fl-textarea {
    padding: 24px 16px 8px;
}
.fl-form.fl-style-2 label.fl-label {
    top: 1px;
    left: 9.8px;
    padding: 8px 4px 4px;
}
.fl-form.fl-style-2 .fl-is-required:before {
    padding-top: 16px;
}
body[dir="rtl"] .fl-form.fl-style-2 label.fl-label {
    left: unset;
    right: 13px;
}
.fl-form .fl-wrap-select:after {
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    right: 6px;
    height: calc(100% - 2px);
    width: 14px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 16'%3E%3Cpath fill='rgba(255,255,255,0.8)' d='M 4 0 L 0 6.5 L 8 6.5 L 4 0 z M 0 9.5 L 4 16 L 4 16 L 8 9.5 z'/%3E%3C/svg%3E") no-repeat;
    background-position: 100% 50%;
    background-size: 7px 14px;
    z-index: 2;
}
body[dir="rtl"] .fl-form .fl-wrap-select:after {
    right: unset;
    left: 6px;
}
